/*-- scss:defaults --*/
  
.slide-background-content {
    background-color: #fff;
}

.slide-logo {
  max-height: 10% !important;
}

.date {
  font-size: .7em;
  color: #373F43;
}










.text-center {
  text-align: center;
}

strong {
  color: #6DA5D5;
}

.bigger {
  font-size: 1.6em;
}

.highlight {
  background-color: #f9a541; /*#F29400*/
  color: #f9f9f9;
  padding: 10px;
  border-radius: 7px;
}

.highlight-bright {
  background-color: #fef0df; /*#F29400*/
  padding: 10px;
  border-radius: 7px;
}

.highlight-grey {
  background-color: #f9f9f9;
  border-radius: 7px;
}

.highlight-text {
  color: #F29400;
  font-weight: bold;
}



slides > slide:not(.nobackground):after {
  content: '';
}

/*
.title-slide {
  background-image: url("title-bg.jpg");
  background-size: cover;
}

slides > slide.title-slide hgroup h1 {
  color: white;
  text-shadow: 2px 2px 1px rgba(0,0,0, 0.5);
}


slides > slide.title-slide hgroup p {
  color: white;
}

.title-slide hgroup h2 {
  color: white !important;
}


code {
  color: white;
  background-color: darkgrey;
  padding-left: 3pt;
  padding-right: 3pt;
}
*/

/* ---------------- TITLE SLIDE ---------------- */
/* logo title slide */
.plogo {
  height: 108px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

.gdbar img {
  width: 194px !important;
  height: 108px !important;
  margin: 0px 0px;
}

.gdbar {
  width: 240px !important;
  height: 120px !important;
  background: #fff !important;
}



h1.title {
  text-shadow: 0px 0px 5px white !important;
}



/* footer logo */
slides > slide:not(.nobackground):before {
  width: 0px;
  height: 0px;
  background-size: 0px 0px;
}


/* footer link to slides */
.myfooter {
  height: 0px;
  position: absolute;
  bottom: 5%;
  width: 85%;
  text-align: center;
  font-size: 0.7em;
}


/* --------- LINKS --------- */
a:link {
    color: grey;
    border-bottom: 1px solid grey;
}

a:visited {
    color: grey;
    border-bottom: 1px solid grey;
}

a:hover {
    color: grey;
    border-bottom: 1px solid grey;
}

a:active {
    color: grey;
    border-bottom: 1px solid grey;
}




/* --------- references on slides --------- */
.citation {
  /*float: right;*/
  color: grey;
  opacity: .6;
  font-size: .7em;
}

.citation > a {
  border-bottom: 0 !important;
}



/* --------- BOXES --------- */
.columns {
  /*display: flex;
  align-content: space-between;
  width: 100% !important;*/
  justify-content: space-between;
  display: flex;
}

.active-box {
  background: #F29400; 
  width: 30% !important; 
  height: 72%; 
  border-radius: 10px;
  padding: 5px;
  color: white;
  font-size: 1.2em;
  margin: 2%;
}

.active-box > p > strong {
  color: white !important;
}


.inactive-box {
  background: #646567; 
  width: 15% !important; 
  height: 35%; 
  border-radius: 10px;
  padding: 5px;
  color: white;
  font-size: 0.5em;
  margin: 2%;
  margin-top: 8%;
}

.inactive-box > p > strong {
  color: white !important;
}

.active-text {
  /*background-color: white;
  color: #6DA5D5;*/
  background-color: black;
  color: white !important;
  padding: 2px;
  border-radius: 4px;
}

.box-orange {
  background: #F29400; 
  width: max-content !important;
  border-radius: 10px;
  padding: 5px;
  color: white;
  font-size: 1.2em;
  margin: 2%;
}

.box-orange>p>a:link {
    color: white !important;
    border-bottom: 1px solid white !important;
}

.box-orange>p>a:visited {
    color: white !important;
    border-bottom: 1px solid white !important;
}

.box-orange>p>strong {
    color: white !important;
}

.box-grey {
  background: #ececec; 
  border-radius: 10px;
  padding: 5px;
}

.box-grey>p>strong {
  color: black !important;
}


.box-shadow {
  box-shadow: 0px 0px 10px black;
}


/* --------- MISC --------- */
.splash-slide-text {
  background-color: black;
  color: white !important;
  padding: 10px;
  border-radius: 10px;
}


.border-right{
  border-right: 2px solid black;
} 


.border-grey{
  border: 1px solid lightgrey;
  border-radius: 7px;
}


.page-right-l {
  position: absolute;
  top: 0;
  right: 0;
  height: 90% !important;
  width: auto !important;
  boder: red solid 2px !important;
}


.page-right-s {
  position: absolute;
  top: 25%;
  right: 0;
  height: auto !important;
  width: 45% !important;
  boder: red solid 2px !important;
}